:root {
  --com-c-theme-version: 1;
  --dxp-s-form-element-text-font-family: 'aktiv-grotesk', sans-serif;
  --dxp-s-form-element-caption-text-font-family: 'aktiv-grotesk', sans-serif;
  --dxp-s-button-font-family: 'aktiv-grotesk', sans-serif;
  --dxp-s-text-heading-small-font-family: 'aktiv-grotesk', sans-serif;
  --dxp-s-body-font-family: 'aktiv-grotesk', sans-serif;
  --dxp-s-text-heading-extra-large-font-family: 'aktiv-grotesk', sans-serif;
  --dxp-s-body-small-font-family: 'aktiv-grotesk', sans-serif;
  --dxp-s-form-element-label-font-family: 'aktiv-grotesk', sans-serif;
  --dxp-s-text-heading-large-font-family: 'aktiv-grotesk', sans-serif;
  --dxp-s-text-heading-medium-font-family: 'aktiv-grotesk', sans-serif;
}

.faq-accordion-container svg  {
  width: 1.5rem;
  height: 1.5rem;
}

commerce_cart-mini-cart-panel {
  z-index: 1000;
}

.popular-products-container {
  position: relative;
}

.popular-products-container .gallup-product-card {
  margin: 0;
}

.commerce-product-data {
  max-width: 380px;
}

.product-pricing-container table {
  justify-content: left;
  text-align: left;
}

.product-pricing-container table td {
  justify-content: left;
  text-align: left;
}

.product-detail-container {
  
}

@media screen and (min-width: 1280px) {
  .product-detail-container .atc-control-container {
    align-items: center;
    max-width: 380px;
  }

/*   .pdp-img-gallery img {
    max-height: 50% !important;
} */
}

@media only screen and (max-width: 48em) {
    table {
        width: 100%;
        display: flex;
        justify-content: left;
    }
}

ul.slds-p-vertical_small {
  border-top: 1px solid #e0e0e0;
  padding-top: 0;
}

.cart-page-summary .slds-button.slds-button_brand.slds-button_stretch {
  max-width: 290px;
  padding: 8px;
}

.text-standard{
  font-family: 'aktiv-grotesk', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}

.text-standard-body{
  font-family: 'aktiv-grotesk', sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}

.text-standard-small{
  font-family: 'aktiv-grotesk', sans-serif !important;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.7;
}

b2c_lite_commerce-external-layout b2c_lite_commerce-store-logo-cms img {
  padding-top: var(--dxp-g-spacing-xlarge);
  padding-bottom: var(--dxp-g-spacing-xlarge);
}

b2b_buyer_product_details-expandable-text-section {
  --sds-c-accordion-section-spacing-inline-start: 0;
}

b2c_lite_commerce-my-account-profile,
b2c_lite_commerce-my-account-password {
  --dxp-g-spacing-medium: 0;
}

b2c_lite_commerce-my-account-profile,
b2c_lite_commerce-my-account-password,
commerce-my-account-profile,
commerce-my-account-password {
  --sds-c-card-header-spacing-block-start: 1rem;
  --sds-c-card-header-spacing-inline-end: 1rem;
  --sds-c-card-header-spacing-inline-start: 1rem;
  --sds-c-card-body-spacing-inline-start: 1rem;
  --sds-c-card-body-spacing-inline-end: 1rem;
  --sds-c-card-body-spacing-block-end: 1rem;
  --sds-c-card-radius-border: 0;
}
b2c_lite_commerce-my-account-profile label,
b2c_lite_commerce-my-account-password label,
commerce-my-account-profile label,
commerce-my-account-password label {
  --dxp-s-form-element-label-font-size: var(--dxp-g-font-size-4);
  font-weight: var(--dxp-c-strong-text-weight);
}

b2c_lite_commerce-my-account-password header,
commerce-my-account-password header {
  font-size: var(--dxp-g-font-size-4);
}

@media (min-width: 64.0625em) {
  b2c_lite_commerce-my-account-profile,
  b2c_lite_commerce-my-account-password,
  commerce-my-account-profile,
  commerce-my-account-password {
    --sds-c-card-header-spacing-block-start: 2rem;
    --sds-c-card-header-spacing-inline-end: 2rem;
    --sds-c-card-header-spacing-inline-start: 2rem;
    --sds-c-card-body-spacing-block: 1rem;
    --sds-c-card-body-spacing-inline-start: 2rem;
    --sds-c-card-body-spacing-inline-end: 2rem;
    --sds-c-card-body-spacing-block-end: 2rem;
  }
}
b2c_lite_commerce-scoped-notification .slds-scoped-notification,
commerce-scoped-notification .slds-scoped-notification {
  margin-bottom: 1rem;
}

b2c_lite_commerce-my-account-menu-ui .slds-dropdown__header {
  font-size: var(--dxp-g-font-size-6);
}
b2c_lite_commerce-my-account-menu-ui lightning-menu-subheader {
  border-bottom: 1px solid var(--dxp-g-root-1);
}

commerce_builder-link-list.utility-header,  commerce_builder-link-list.utility-header commerce-link-list,  commerce_builder-link-list.utility-header commerce-link-list ul{
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}
    commerce_builder-link-list.utility-header{
      padding: 12px 80px;
      background-color: #FFFFFF;
      margin-bottom:0;
}
    commerce_builder-link-list.utility-header commerce-link-list ul li{
  display: flex;
  flex-direction: row;
}
commerce_builder-link-list.utility-header div[slot='header']{
  display:none;
}
    commerce_builder-link-list.utility-header commerce-link-list ul li:last-child {
  margin-left: auto;
}
    commerce_builder-link-list.utility-header commerce-link-list ul li:not(:first-child):not(:last-child)::before {
  content: "|";
  padding-left: 16px;
  padding-right: 16px;
}
    commerce_builder-link-list.utility-header commerce-link-list ul li p{
        font-size: 14px !important;
        font-family: 'aktiv-grotesk', sans-serif !important;
    }

    div[name='header'] webruntimedesign-component-wrapper.component-wrapper-spacer{
      margin-top:0;  
      margin-bottom:0;
    }
    div[name='header'] commerce_builder-layout-header {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
    }
    div[name='header'] commerce-layout-header header.desktop div.header-content{
        max-width: none !important;
    }
    div[name='header'] commerce-layout-header div.layout-header-desktop{
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    div[name='header'] commerce-layout-header header[ref='header'].desktop{
        padding-left:0;
        padding-right:0;
        padding-top: 0;
        padding-bottom: 0;
        border-top: solid 1px #E0E0E0;
        border-bottom: solid 1px #E0E0E0;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav nav{
        padding-left: 68px;
        padding-right: 80px;
        background-color: #FFFFFF;
        border-bottom: solid 1px #E0E0E0;
    }
    div[name='header'] div.header-badget-icons {
        padding-right: 0;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav lightning-icon.slds-icon-utility-chevrondown svg{
        color: #009D4F;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li a, div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li button{
        font-size: 16px;
        line-height: 1.7;
        font-family: 'aktiv-grotesk', sans-serif;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li commerce-drilldown-navigation-list ul li:first-child {
      display:none;
    } 
    div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li commerce-drilldown-navigation-list ul li a {
        font-size: 14px;
        line-height: 1.7;
        font-family: 'aktiv-grotesk', sans-serif;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 8px;
        padding-right: 8px;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li commerce-drilldown-navigation-list ul {
        left: 0;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li:last-child:has(a[title="Redeem Code"]) {
      /* Redeem Code button*/
      position:absolute;
      right: 80px;
      padding-top: 14px;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li:has(a[title="My Orders"]) {
      /* My Orders button*/
      position:absolute;
      right: 227px;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li:last-child  a[title="Redeem Code"] {
        font-size: 11px;
        line-height: 1.7;
        font-family: 'aktiv-grotesk', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        border: solid 1px #009D4F;
    }

    div[name='header'] div.header-content div.header-logo.slds-size_2-of-12{
      width:180px;
      margin-right: 32px;
    }

    div[name='header'] div.header-content div.header-navigation{
      padding-left:0;
    }

    div[name='header'] commerce_search-input div.input-container{
      height:40px;
      position: relative;
    }

    div[name='header'] commerce_search-input div.input-wrapper{
      height: 40px;
      border: solid 1px #E0E0E0;
      padding: 8px 16px;
      border-radius: 2px !important;
    }

    div[name='header'] commerce_search-input button.input-search-button{
      background: unset;
      border: unset;
      position: absolute;
      right: 0;
      top: 4px;
      padding-left: 0;
    }

    div[name='header'] commerce_search-input div.input-clear-button-container{
      margin-right: 16px;
      margin-top: -1px;
    }

    div[name='header'] div.header-badge-icons commerce-wishlist-shortcut svg{
      height: 20px;
      width: 20px;
      padding: 0; 
    }

    div[name='header'] p.login-text {
      display:none;
    }

    div[name='header'] commerce_my_account-user-profile-menu div.menu-trigger{
      max-width: 150px !important;
      width: fit-content;
    }

    div[name='header'] commerce_my_account-user-profile-menu p.menu-trigger-p{
      font-family: 'aktiv-grotesk', sans-serif !important;
      font-size: 16px;
      color:black !important;
      font-weight: 400;
      text-transform: capitalize;
      max-width: 150px;
      width: fit-content;
    }

    div[name='header'] commerce_my_account-user-profile-menu lightning-icon lightning-primitive-icon svg, div[name='header'] commerce_cart-badge svg{
      color:black;
      fill: black;
      height: 2rem;
      width: 2rem;
    }

    @media (max-width: 480px) {
      div[name='header'] commerce_my_account-user-profile-menu lightning-icon lightning-primitive-icon svg, div[name='header'] commerce_cart-badge svg {
        height: 1.5rem;
        width: 1.5rem;
      }
  
      div[name='header'] .wishlist-shortcut-wrapper .slds-icon_container svg.slds-icon {
        height: 1.5rem;
        width: 1.5rem;
      }  
    }

    div[name='header'] commerce_builder-cart-badge span.cart-container, div[name='header'] commerce_builder-wishlist-shortcut div.wishlist-shortcut-wrapper {
      line-height: 20px;
      padding:0;
    }

    div[name='header'] div.header-account, div[name='header'] div.header-wishlist{
      margin-right: 24px;
    }

    @media screen and (min-width:768px){

/*       div[name='header'] div.header-badge-icons{
        right: 80px !important;
        top: 16px !important;
        align-items: center;
        height: 40px !important;
        position: absolute !important;
      } */
      
      .footer-links-columns {
        border-right: solid 1px #000;
        padding-right: 48px;
        margin-right: 48px;
      }

      .footer-section-columns div.columns-content community_layout-column:last-child{
        display: flex;
        align-items: center;
      }

      .faq-container{
        width: 920px;
      }

      community_builder-rich-text-editor.faq-accordion-content div.cb-outputRichText-container, community_builder-output-rich-text.faq-accordion-content div.cb-outputRichText-container {
        max-width: 700px;
      }
      .fa-user::before{
        position: relative;
        top: 10px;
        left: 0px;
        z-index: 80;
      }
      .fa-user:has(.slds-dropdown-trigger)::before{
        position: absolute;
        top: 17px;
        left: 0px;
        z-index: 80;
      }
  
      .fa-user .slds-dropdown-trigger{
        margin-top:-4px;
      }

      slot[name='contentRegion'] h4 {
        font-family: 'aktiv-grotesk', sans-serif !important;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .category-columns div.column-content, .category-columns div.interactions-region {
        overflow: inherit;
    }

    .category-columns div.column-content, .category-columns div.interactions-region img {
      max-height: 168px;
    }      
  }


    @media screen and (max-width: 480px){

    }


    @media screen and (max-width: 767px) {
      .category-card-container lightning-layout.slds-grid img {
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }

      .category-card-container lightning-layout.slds-grid {
        align-items: center;
      }
      
      .faq-section-header div.cb-outputRichText-container, .faq-main-header div.cb-outputRichText-container{
        padding-left: 12px;
      }

      community_builder-rich-text-editor.faq-accordion-content div.cb-outputRichText-container,
      community_builder-output-rich-text.faq-accordion-content div.cb-outputRichText-container,
      .faq-accordion-container details div.content,
      .faq-accordion-container details div.content community_builder-output-rich-text,
      .faq-accordion-container details div.content p,
      .faq-accordion-container details div.content ul,
      .faq-accordion-container details div.content ul li
      {
        max-width: calc(100vw - 24px);
        width: fit-content;
      }

      /* .faq-accordion-container details div.content ul li {
        max-width: calc(100vw - 70px)
      } */

      .footer-links-columns{
        border-bottom: solid 1px #E0E0E0;
        padding-bottom: 32px;
        margin-bottom: 32px;
      }

      header.mobile[ref='header'] commerce-drilldown-navigation lightning-button-icon:first-of-type{
        color: #000 !important;
      }

      header.mobile[ref='header'] commerce-drilldown-navigation-list span.close-button-wrapper{
        height: 64px;
        padding-top: 16px;
      }

      header.mobile[ref='header'] commerce-drilldown-navigation-list span.close-button-wrapper svg {
        color: #000;
      }

      header.mobile[ref='header'] commerce-drilldown-navigation-list nav ul {
        top: 64px !important;
        height: calc(100% - 64px) !important;
      }

      header.mobile[ref='header'] commerce-drilldown-navigation-list nav ul  li.slds-list__item:has(a[href='/'])::after,
      header.mobile[ref='header'] commerce-drilldown-navigation-list nav ul  li.slds-list__item:has(a[href*='redeem'])::after,
      header.mobile[ref='header'] commerce-drilldown-navigation-list nav ul  li.slds-list__item:has(a[href*='gallupaccess'])::after,
      header.mobile[ref='header'] commerce-drilldown-navigation-list nav ul  li.slds-list__item:has(a[href*='all-'])::after{
        content: "";
        border-bottom: solid 1px var(--border-primary, #E0E0E0);
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 16px;
        display: inline-block;
        width: calc(100% - 32px);
      }

      header.mobile[ref='header'] commerce-drilldown-navigation-list nav ul  li.slds-list__item a,
      header.mobile[ref='header'] commerce-drilldown-navigation-list nav ul  li.slds-list__item button {
        padding: 16px 25px !important;
        font-family: 'aktiv-grotesk', sans-serif !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.7; 
      }

      header.mobile[ref='header'] commerce-drilldown-navigation-list nav ul  li.slds-list__item a[href*='redeem'] {
        color: #000;
        text-align: center;
        display: flex;
        padding: var(--spacing-sm, 8px) var(--spacing-md, 16px) !important;
        justify-content: center;
        align-items: center;
        border-radius: var(--radius-xs, 2px);
        border: 1px solid var(--border-secondary, #009D4F);
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 254.545% */
        letter-spacing: 1.5px;
        text-transform: uppercase;
        width: fit-content;
        margin-left: 25px;
        margin-top: 24px;
        margin-bottom: 24px;
      }

      header.mobile[ref='header'] commerce-drilldown-navigation-list nav:not([aria-label='']) ul  li.slds-list__item a,
      header.mobile[ref='header'] commerce-drilldown-navigation-list nav:not([aria-label='']) ul  li button {
        padding: 16px 25px 16px 53px !important;
        font-family: 'aktiv-grotesk', sans-serif !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.7; 
      }

      header.mobile[ref='header'] commerce-drilldown-navigation-list nav:not([aria-label='']) ul  li:has(a):not(.slds-list__item) {
        display: none;
      }

      header.mobile[ref='header'] commerce-drilldown-navigation-list nav ul  li.slds-list__item button lightning-icon{
        top: 16px !important;
      }

      header.mobile[ref='header'] commerce-drilldown-navigation-list nav ul  li button lightning-icon.chevron-left {
        left: 23px;
      }

      header.mobile[ref='header'], header.mobile[ref='header'] > div.header-content {
        padding: 0 !important;
      }

      header.mobile[ref='header'] div.header-navigation {
        margin-left: 24px;
        margin-top: 24px;
        margin-bottom: 24px;
        height: 20px;
      }

      header[ref='header'] div.header-navigation lightning-primitive-icon svg {
        height: 20px;
      }

      header[ref='header'] div.header-logo {
        padding-left: 12px;
        margin-top:24px;
      }

      header[ref='header'] div.header-search{
        height: 72px;
        padding: 16px 25px;
        border-top: solid 1px #E0E0E0;
        border-bottom: solid 1px #E0E0E0;
      }

      header[ref='header'] div.header-search commerce_search-input button.input-search-button {
        height: 40px;
        background-color: #E0E0E0;
        position: absolute;
        top: -1px;
        right: 0;
        width: 40px;
        padding: 12px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      div.header-logo dxp_content_layout-site-logo {
        margin-top: -6px;
      }
      div.header-logo dxp_content_layout-site-logo div.dxp-content-layout-site-logo{
        height: 20px !important;
        margin-top: -12px;
      }

      div[name='header'] commerce-drilldown-navigation-list {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;
        --logo-margin: -40px;
      }

      div[name='header'] commerce-drilldown-navigation commerce-drilldown-navigation-list  lightning-button-icon.close-button {
        right: unset;
        left: 16px;
      }

      div[name='header'] div.header-badge-icons{
        right: 0px !important;
        align-items: center;
        height: 24px !important;
        position: absolute !important;
        margin-top:24px;
        margin-right: 24px;
        margin-bottom:24px;
        padding:0;
      }

      div[name='header'] div.header-badge-icons div.header-account{
        padding-right: 0;
      }

      div[name='header'] div.header-badge-icons div.header-wishlist{
        margin-top: -1px;
      }

      div[name='header'] div.header-badge-icons div.header-cart{
        padding-top:5px;
      }

      div[name='header'] div.header-account, div[name='header'] div.header-wishlist{
        margin-right: 16px
      }

      commerce-drilldown-navigation-list lightning-button-icon.close-button svg { 
        height: 20px;
        width: 20px;
      }

      .fa-user::before{
        position: absolute;
        top: 8px;
        left: 4px;
        z-index: 80;
      }
      .fa-user .slds-dropdown-trigger{
        margin-top:-4px;
      }

      slot[name='contentRegion'] h4 {
        font-family: 'aktiv-grotesk', sans-serif !important;
        color: #000;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
      }
      
      .product-grid .slds-grid.slds-wrap {
        width: 100vw;
        overflow: scroll;
        flex-wrap: nowrap;
      }

      /*Quantity Selector column*/
      .product-card-cart div.columns {
        flex-direction: row !important;
      }
      .product-card-cart dxp_layout-column.col-size_12-of-12.col-large-size_6-of-12:first-of-type {
        max-width: 165px;
        margin-left: -20px;
      }
      .product-card-cart dxp_layout-column {
        max-width: calc(100vw - 190px);
        margin-left: 15px;
      }

      .strengths-at-scale .dxp-content-layout-card-columns .dxp-block-two-column-container.slds-grid_vertical-reverse .slds-col.dxp-block-two-column-cell:first-child {
        display: none;
      }

      .strengths-at-scale .tab-header-text h1{
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.9;
        color: #1e1e1e;
      }
      .strengths-at-scale .tab-text h4, .strengths-at-scale .tab-text p{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.7;
        color: var(--text-headings, #1A1A1A);
      }
      .strengths-at-scale .tab-button .slds-button {
        width: 100%;
        height: 44px;
        padding: var(--spacing-sm, 8px) var(--spacing-md, 16px);
        border-radius: var(--radius-xs, 2px);
        background: var(--surface-primary-button, #009D4F);
      }
      .strengths-at-scale .section-header h2{ 
        font-size: 20px;
      }

      .cart-page-summary .slds-button.slds-button_brand.slds-button_stretch {
        max-width: 270px;
      }

      .category-columns div.column-content, .category-columns div.interactions-region {
        flex-direction: column;
      }

      .category-columns div.column-content, .category-columns div.interactions-region img {
        background-repeat: no-repeat;
      }

      .product-grid.popular-reports .slds-grid.slds-wrap, .product-grid.best-selling-books .slds-grid.slds-wrap {
        width: 100%;
        overflow: hidden;
        flex-wrap: wrap;
      }
    }

    footer div.footer commerce_builder-link-list dxp_base-text-block.footer-links-header h3, footer div.footer dxp_base-text-block.footer-links-header h4{
      font-family: 'aktiv-grotesk', sans-serif !important;
      color: #1A1A1A;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1.5px;
      line-height: 1.28;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    footer div.footer commerce_builder-link-list.legal-links dxp_base-text-block.copyright-text h3 {
      font-family: 'aktiv-grotesk', sans-serif !important;
      color: #1A1A1A;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom:8px;
    }

    footer div.footer commerce_builder-link-list.legal-links commerce-link-list ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    footer div.footer commerce_builder-link-list.legal-links commerce-link-list ul li:not(:first-child)::before {
      content: '|';
      margin-left: 5px;
      margin-right: 5px;
      color: #666666;
    }

    footer div.footer commerce_builder-link-list.legal-links commerce-link-list ul li p {
      display: inline;
      font-family: 'aktiv-grotesk', sans-serif !important;
      font-size: 14px;
      line-height: 1.2;
      color: #666666;
    }

    footer div.footer commerce_builder-link-list commerce-link-list ul li h3, footer div.footer commerce_builder-link-list.help-links commerce-link-list ul li p {
      font-family: 'aktiv-grotesk', sans-serif !important;
      color: #1A1A1A !important;
      font-size: 14px !important;
      font-weight: 400 !important;
      line-height: 1.2;
      margin-bottom: 16px;
    }

    footer div.footer commerce_builder-social-links {
      margin-top: -33px;
      margin-bottom: 32px;
    }

    footer div.footer commerce_builder-social-links svg.social-icon{
      height: 16px;
      width: 16px;
    }

    commerce_builder-layout-footer.commerce-footer {
      padding-top: 48px;
      padding-bottom: 24px;
      border-top: solid 4px #009D4F;
      background-color: #FFFFFF;
    }

    .faq-container{
      max-width: 920px;
      padding: 0 !important;
      margin-left: auto;
      margin-right: auto;
    }


    .faq-main-header div.cb-outputRichText-container{
      color: var(--Black-900, #121212);
      font-family: 'aktiv-grotesk', sans-serif !important;
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      line-height: 44px; /* 157.143% */
    }

    .faq-section-header div.cb-outputRichText-container{
      color: var(--Black-900, #121212);
      font-family: 'aktiv-grotesk', sans-serif !important;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.7; /* 170% */
    }

    .faq-contact-info, .faq-more-questions{
      overflow:hidden !important;
    }

/*     .faq-more-questions div.cb-outputRichText-container, .faq-contact-info div.cb-outputRichText-container{
      margin-bottom: 80px;
    } */

/*     .faq-more-questions div.cb-outputRichText-container h2, .faq-contact-info div.cb-outputRichText-container h2{
      margin-bottom: 40px;
    } */

    .faq-accordion-header h3 {
      height: fit-content !important;
    }

    .faq-more-questions div.cb-outputRichText-container h2 span, .faq-contact-info div.cb-outputRichText-container h2 span{
      color: var(--Black-900, #121212);
      font-family: 'aktiv-grotesk', sans-serif !important;
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      line-height: 44px; 
      margin-bottom: 40px;
    }

    .faq-more-questions div.cb-outputRichText-container p strong, .faq-contact-info div.cb-outputRichText-container p strong{
      color: #000;
      font-family: 'aktiv-grotesk', sans-serif !important;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.7; /* 170% */
    }
    .faq-more-questions div.cb-outputRichText-container p, .faq-contact-info div.cb-outputRichText-container p{
      color:  var(--surface-neutral, #666);
      font-family: 'aktiv-grotesk', sans-serif !important;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.7; /* 170% */
    }

    .faq-container .faq-accordion-container details{
      padding-bottom: 16px;
      border-bottom: 1px solid var(--Black-300, #CBCBCB);
    }

    .faq-accordion-header h3 {
      height: 44px;
/*       margin-top: 24px; */
      font-family: 'aktiv-grotesk', sans-serif !important;
      font-size: 16px;
      font-style: normal !important;
      font-weight: 400 !important;
      line-height: 1.7; /* 170% */
      color: #1A1A1A !important;
    }

    community_builder-rich-text-editor.faq-accordion-content div.cb-outputRichText-container, community_builder-output-rich-text.faq-accordion-content div.cb-outputRichText-container {
      color: var(--surface-neutral, #666);
      font-family: 'aktiv-grotesk', sans-serif !important;
      padding-top:12px;
      width: 700px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.7; /* 170% */
    } 

    .fa-cart-shopping svg {
      display: none !important;
    }

    .fa-user svg {
      opacity: 0 !important;
    }

    .header-cart .fa-solid {
      position: relative;
    }

    .fa-brands a[href*='linkedin.com']::before,
    .fa-brands a[href*='twitter.com']::before,
    .fa-brands a[href*='x.com']::before,
    .fa-brands a[href*='instagram.com']::before,
    .fa-brands a[href*='facebook.com']::before,
    .fa-brands a[href*='youtube.com']::before{
      display: flex;
      width: 24px;
      align-items: center;
      padding: var(--radius-sm, 4px) 5px;
      border-radius: var(--radius-xs, 2px);
      background: var(--icon-black, #000);
      color: #FFFFFF;
    }
    .fa-brands a[href*='linkedin.com'] img,
    .fa-brands a[href*='twitter.com'] img,
    .fa-brands a[href*='x.com'] img,
    .fa-brands a[href*='instagram.com'] img,
    .fa-brands a[href*='facebook.com'] img,
    .fa-brands a[href*='youtube.com'] img {
      display: none;
    }

    .fa-brands a[href*='linkedin.com']::before {
      content: "\f0e1";
    }

    .fa-brands a[href*='twitter.com']::before, .fa-brands a[href*='x.com']::before {
      content: "\e61b";
      padding-left: 4px;
    }

    .fa-brands a[href*='instagram.com']::before {
      content: "\f16d";
    }

    .fa-brands a[href*='facebook.com']::before {
      content: "\f39e";
      height: 24px;
      padding-top: 11px;
      font-size: 18px;
    }

    .fa-brands a[href*='youtube.com']::before {
      content: "\f167";
      padding-left: 3px;
    }

    commerce_my_account-user-profile-menu .slds-dropdown__item {
      font-family: 'aktiv-grotesk', sans-serif !important;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 23.8px; 
      padding-top: 8px;
      padding-bottom: 8px;
    }

    commerce_cart-badge span.cart-container {
      position: relative;
    }

    commerce_cart-badge span.cart-container > a {
/*       position: absolute; */
      display: block;
      width: 20px;
      top: -16px;
      left: -18px;
    }


    /* CTA Tiles */

    slot[name='imageRegion'] .fa-solid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    slot[name='imageRegion'] .fa-solid::before{
      font-size: 20px;
    }

    slot[name='imageRegion'] .fa-solid img {
      display: none;
    }
    slot[name='contentRegion'] h4 {
        min-height:69px;
    }
    
    .cta-callout {
      margin-bottom: 0;
    }

    /* Product Grids */

    .product-section h2 {
      font-size: 32px;
      font-style: normal;
      font-weight: 300;
      line-height: 46.5px; 
    }

    .product-section h3 {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 38px;
    }

    .product-grid .dxp-block-flexible-container {
      width: 100% !important;
    }

    .product-card-cart lightning-button-icon.c-productQuantitySelectorPopover_productQuantitySelectorPopover {
      display: none;
    }

    .product-grid .product-name h3 {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.7;
    }

    .product-type{
      margin-bottom: 12px !important;
    }

    .product-type p{
      color: var(--text-headings, #1A1A1A);
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.7; /* 170% */
    }
    .product-name{
      margin-bottom:0 !important;
    }

    .product-format a.slds-button{
      display: flex;
      padding: var(--radius-xs, 2px) 8px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 8px;
      border: 1px solid #000;
      background: var(--text-headings, #1A1A1A);
      color: white;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.7;
      text-transform: capitalize;
    }
    .product-format{
      height: 30px;
      margin-bottom: 8px !important;
    }

    .product-format a:empty {
      display: none !important;
    }

    .product-date p {
      color: var(--surface-neutral, #666) !important;
      font-size: 14px;
      font-style: normal !important;
      font-weight: 400 !important;
      line-height: 1.7;
    }

    .product-all-link {
      float: right;
      padding-right: 20px;
    }

    .product-all-link a {
      color: var(--text-primary-button-hover, #009D4F);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 22.6px; /* 141.25% */
      text-decoration-line: underline;
      text-transform: uppercase;
    }

    .product-all-link.fa-chevron-right::before {
      position: absolute;
      right: 0px;
      top: 4px;
    }

    .product-learn-more h3 {
      color: var(--text-primary-button-hover, #009D4F) !important;
      font-size: 16px !important;
      font-style: normal !important;
      font-weight: 500 !important;
      line-height: 22.6px; /* 141.25% */
      text-decoration-line: underline !important;
      text-transform: uppercase;
    }

    .product-learn-more.fa-solid, .product-all-link.fa-solid{
      position: relative;
    }

    .product-learn-more.fa-chevron-right::before {
      position: absolute;
      right: -15px;
      top: 4px;
    }

    .product-wishlist-icon {
      position: relative;
    }
    .product-wishlist-icon .slds-button{
      position: absolute;
      right: 16px;
      bottom: 16px;
      border-radius: 40px;
      background: #FFF;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.20);
      backdrop-filter: blur(3px);
      padding: 8px;
      border: none;
    }

    .product-grid .product-description {
/*       height: 150px !important; */
      min-height: 150px !important;
      display: block;
    }

    .product-grid .product-description p{
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.7; /* 170% */
    }

    /*Quantity Selector column*/
    .product-card-cart dxp_layout-column.col-size_12-of-12.col-large-size_6-of-12:first-of-type {
      max-width: 150px;
    }

    .product-card-cart .slds-button_brand {
      width: 100%;
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 254.545% */
      letter-spacing: 1.5px;
      text-transform: uppercase;
      padding: var(--spacing-sm, 8px) var(--spacing-md, 16px);
    }

    .product-card-cart .number-input__input.c-commonNumberInput_commonNumberInput  {
      height: 44px;
    }

/* checkout */
    .input-text div {
      font-family: Aktiv Grotesk, sans-serif;
      border-radius: 6px;
      border-color: rgba(203, 203, 203, 1);
      border-style: solid;
      border-width: 1px;
      background-color: var(--White, #fff);
      margin-top: 8px;
      color: var(--surface-neutral-dark, #2b2b2b);
      white-space: nowrap;
      justify-content: center;
      padding: 14px 16px;
  }

   .btn-most-popular {
      font-weight: bolder !important;
      max-width: 50%;
      color: #00754A;
  }
  
  .btn-most-popular a {
      border-radius: 5px;
      border: none;
  background: #E4F2E1;
      color: #00754A !important;
      font-size: 12px;
      font-weight: bolder !important;
      line-height: normal;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      padding: 8px 0;
  }
  
  .btn-2col {
      display: flex;
      flex-grow: 0;
      flex: 0;
  }
  
  .btn-hero-learnmore a,  .btn-hero-explore a {
      padding: 8px 0;
  }
  
  .btn-hero-learnmore a, .btn-hero-explore a, .btn-most-popular a {
      width: 100%;
      font-size: 11px;
      font-weight: bolder;
      color: #000;
  }
  
  .product-description {
      font-size: 14px !important;
  }
  
  .custom-product-pricing {
      font-weight: bolder;
  }
  
  .checkout-subhead h3 {
      color: #000;
      font: Aktiv Grotesk, -apple-system, Roboto, Helvetica, sans-serif;
      font-size: 16px;
  }
  
  .checkout-nextBtn button {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      padding: 8px 48px;
      font-family: Aktiv Grotesk, -apple-system, Roboto, Helvetica, sans-serif;
      font-size: 11px !important;
  }
  
  .checkout-editBtn {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-family: Aktiv Grotesk, -apple-system, Roboto, Helvetica, sans-serif;
      font-size: 11px;
  }
  
  .order-summary-section {
      border: 1px solid #E0E0E0;
      border-radius: 6px;
      padding: 24px;
  }

.checkout-section-header {
    display: flex;
    align-items: center;
}

.checkout-section-header .slds-button:focus {
  box-shadow: none;
}

  .checkout-section-header h3 {
      font-weight: bold;
      font-size: 16px;
  }

  .checkout-section-header a {
      font-size: 14px;
      text-decoration: underline;
      padding: 0 8px;
  }

  .section-border {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding: 24px 0;
  }

  .section-bottom-border {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 24px;
  }

  .btn_edit-cancel {
      font-size: 11px;
      font-weight: bold;
  }

.order-review-access-btn {
    font-size: 11px;
}

  @media only screen and (min-width: 739px) {
      
      .btn-most-popular {
        max-width: 25%;
    }
      
      .btn-hero-learnmore {
          max-width: 100%;
      }
      
      .btn-hero-explore {
          max-width: 35%;
      }


  }

    .strengths-at-scale .dxp-tab-bar-container {
      border-bottom: none !important;
    }
    .strengths-at-scale .dxp-tab-container {
      padding-top: 48px;
    }
    .strengths-at-scale .tab-header-text h1{
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      line-height: 44px; 
      color: #1e1e1e;
    }
    .strengths-at-scale .tab-text h4, .strengths-at-scale .tab-text p{
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.7;
      color: var(--text-headings, #1A1A1A);
    }
    .strengths-at-scale .tab-button .slds-button {
      height: 44px;
      padding: var(--spacing-sm, 8px) var(--spacing-md, 16px);
      border-radius: var(--radius-xs, 2px);
      background: var(--surface-primary-button, #009D4F);
    }

    .strengths-at-scale .section-header h2{
      font-size: 32px;
      font-style: normal;
      font-weight: 300;
      line-height: 46.5px; 
    }

