:root {
  --com-c-theme-version: 1;
}

b2c_lite_commerce-external-layout b2c_lite_commerce-store-logo-cms img {
  padding-top: var(--dxp-g-spacing-xlarge);
  padding-bottom: var(--dxp-g-spacing-xlarge);
}

b2b_buyer_product_details-expandable-text-section {
  --sds-c-accordion-section-spacing-inline-start: 0;
}

b2c_lite_commerce-my-account-profile,
b2c_lite_commerce-my-account-password {
  --dxp-g-spacing-medium: 0;
}

b2c_lite_commerce-my-account-profile,
b2c_lite_commerce-my-account-password,
commerce-my-account-profile,
commerce-my-account-password {
  --sds-c-card-header-spacing-block-start: 1rem;
  --sds-c-card-header-spacing-inline-end: 1rem;
  --sds-c-card-header-spacing-inline-start: 1rem;
  --sds-c-card-body-spacing-inline-start: 1rem;
  --sds-c-card-body-spacing-inline-end: 1rem;
  --sds-c-card-body-spacing-block-end: 1rem;
  --sds-c-card-radius-border: 0;
}
b2c_lite_commerce-my-account-profile label,
b2c_lite_commerce-my-account-password label,
commerce-my-account-profile label,
commerce-my-account-password label {
  --dxp-s-form-element-label-font-size: var(--dxp-g-font-size-4);
  font-weight: var(--dxp-c-strong-text-weight);
}

b2c_lite_commerce-my-account-password header,
commerce-my-account-password header {
  font-size: var(--dxp-g-font-size-4);
}

@media (min-width: 64.0625em) {
  b2c_lite_commerce-my-account-profile,
  b2c_lite_commerce-my-account-password,
  commerce-my-account-profile,
  commerce-my-account-password {
    --sds-c-card-header-spacing-block-start: 2rem;
    --sds-c-card-header-spacing-inline-end: 2rem;
    --sds-c-card-header-spacing-inline-start: 2rem;
    --sds-c-card-body-spacing-block: 1rem;
    --sds-c-card-body-spacing-inline-start: 2rem;
    --sds-c-card-body-spacing-inline-end: 2rem;
    --sds-c-card-body-spacing-block-end: 2rem;
  }
}
b2c_lite_commerce-scoped-notification .slds-scoped-notification,
commerce-scoped-notification .slds-scoped-notification {
  margin-bottom: 1rem;
}

b2c_lite_commerce-my-account-menu-ui .slds-dropdown__header {
  font-size: var(--dxp-g-font-size-6);
}
b2c_lite_commerce-my-account-menu-ui lightning-menu-subheader {
  border-bottom: 1px solid var(--dxp-g-root-1);
}

commerce_builder-link-list.utility-header,  commerce_builder-link-list.utility-header commerce-link-list,  commerce_builder-link-list.utility-header commerce-link-list ul{
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}
    commerce_builder-link-list.utility-header{
      padding: 12px 80px;
      background-color: #FFFFFF;
      margin-bottom:0;
}
    commerce_builder-link-list.utility-header commerce-link-list ul li{
  display: flex;
  flex-direction: row;
}
commerce_builder-link-list.utility-header div[slot='header']{
  display:none;
}
    commerce_builder-link-list.utility-header commerce-link-list ul li:last-child {
  margin-left: auto;
}
    commerce_builder-link-list.utility-header commerce-link-list ul li:not(:first-child):not(:last-child)::before {
  content: "|";
  padding-left: 16px;
  padding-right: 16px;
}
    commerce_builder-link-list.utility-header commerce-link-list ul li p{
        font-size: 14px !important;
        font-family: 'aktiv-grotesk', sans-serif !important;
    }

    div[name='header'] webruntimedesign-component-wrapper.component-wrapper-spacer{
      margin-top:0;  
      margin-bottom:0;
    }
    div[name='header'] commerce_builder-layout-header {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
    }
    div[name='header'] commerce-layout-header header.desktop div.header-content{
        max-width: none !important;
    }
    div[name='header'] commerce-layout-header div.layout-header-desktop{
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    div[name='header'] commerce-layout-header header[ref='header'].desktop{
        padding-left:0;
        padding-right:0;
        padding-top: 0;
        padding-bottom: 0;
        border-top: solid 1px #E0E0E0;
        border-bottom: solid 1px #E0E0E0;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav nav{
        padding-left: 68px;
        padding-right: 80px;
        background-color: #FFFFFF;
        border-bottom: solid 1px #E0E0E0;
    }
    div[name='header'] div.header-badget-icons {
        padding-right: 0;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav lightning-icon.slds-icon-utility-chevrondown svg{
        color: #009D4F;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li a, div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li button{
        font-size: 16px;
        line-height: 1.7;
        font-family: 'aktiv-grotesk', sans-serif;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li commerce-drilldown-navigation-list ul li:first-child {
      display:none;
    } 
    div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li commerce-drilldown-navigation-list ul li a {
        font-size: 14px;
        line-height: 1.7;
        font-family: 'aktiv-grotesk', sans-serif;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 8px;
        padding-right: 8px;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li commerce-drilldown-navigation-list ul {
        left: 0;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li:last-child {
      /* Redeem Code button*/
      position:absolute;
      right: 80px;
      padding-top: 14px;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li:has(a[title="My Orders"]) {
      /* My Orders button*/
      position:absolute;
      right: 227px;
    }
    div[name='header'] commerce_builder-drilldown-navigation.header-nav ul li:last-child  a {
        font-size: 11px;
        line-height: 1.7;
        font-family: 'aktiv-grotesk', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        border: solid 1px #009D4F;
    }

    div[name='header'] div.header-content div.header-logo.slds-size_2-of-12{
      width:180px;
      margin-right: 32px;
    }

    div[name='header'] div.header-content div.header-navigation{
      padding-left:0;
    }

    div[name='header'] commerce_search-input div.input-container{
      height:40px;
      position: relative;
    }

    div[name='header'] commerce_search-input div.input-wrapper{
      height: 40px;
      border: solid 1px #E0E0E0;
      padding: 8px 16px;
      border-radius: 2px !important;
    }

    div[name='header'] commerce_search-input button.input-search-button{
      background: unset;
      border: unset;
      position: absolute;
      right: 0;
      top: 4px;
      padding-left: 0;
    }

    div[name='header'] commerce_search-input div.input-clear-button-container{
      margin-right: 16px;
      margin-top: -1px;
    }

    div[name='header'] div.header-badge-icons{
      right: 80px !important;
      top: 16px !important;
      align-items: center;
      height: 40px !important;
      position: absolute !important;
    }

    div[name='header'] div.header-badge-icons commerce-wishlist-shortcut svg{
      height: 20px;
      width: 20px;
      padding: 0; 
    }

    div[name='header'] p.login-text {
      display:none;
    }

    div[name='header'] commerce_my_account-user-profile-menu div.menu-trigger{
      max-width: 150px !important;
      width: fit-content;
    }

    div[name='header'] commerce_my_account-user-profile-menu p.menu-trigger-p{
      font-family: 'aktiv-grotesk', sans-serif !important;
      font-size: 16px;
      color:black !important;
      font-weight: 400;
      text-transform: capitalize;
      max-width: 150px;
      width: fit-content;
    }

    div[name='header'] commerce_my_account-user-profile-menu lightning-icon lightning-primitive-icon svg, div[name='header'] commerce_cart-badge svg{
      color:black;
      fill: black;
      height: 20px;
      width: 20px;
    }

    div[name='header'] commerce_builder-cart-badge span.cart-container, div[name='header'] commerce_builder-wishlist-shortcut div.wishlist-shortcut-wrapper {
      line-height: 20px;
      padding:0;
    }

    div[name='header'] div.header-account, div[name='header'] div.header-wishlist{
      margin-right: 24px;
    }

    @media screen and (max-width: 767px){
      div.header-logo dxp_content_layout-site-logo {
        z-index: 200;
        position: absolute;
        --logo-margin: 0;
        margin-left: var(--logo-margin);
      }
      div[name='header'] commerce-drilldown-navigation-list {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;
        --logo-margin: -40px;
      }
    }
    footer div.footer commerce_builder-link-list dxp_base-text-block.footer-links-header h3, footer div.footer dxp_base-text-block.footer-links-header h4{
      font-family: 'aktiv-grotesk', sans-serif !important;
      color: #1A1A1A;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1.5px;
      line-height: 1.28;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    footer div.footer commerce_builder-link-list.legal-links dxp_base-text-block.copyright-text h3 {
      font-family: 'aktiv-grotesk', sans-serif !important;
      color: #1A1A1A;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom:8px;
    }

    footer div.footer commerce_builder-link-list.legal-links commerce-link-list ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    footer div.footer commerce_builder-link-list.legal-links commerce-link-list ul li:not(:first-child):not(:last-child)::before {
      content: '|';
      margin-left: 5px;
      margin-right: 5px;
      color: #666666;
    }

    footer div.footer commerce_builder-link-list.legal-links commerce-link-list ul li p {
      display: inline;
      font-family: 'aktiv-grotesk', sans-serif !important;
      font-size: 14px;
      line-height: 1.2;
      color: #666666;
    }

    footer div.footer commerce_builder-link-list commerce-link-list ul li h3, footer div.footer commerce_builder-link-list.help-links commerce-link-list ul li p {
      font-family: 'aktiv-grotesk', sans-serif !important;
      color: #1A1A1A !important;
      font-size: 14px !important;
      font-weight: 400 !important;
      line-height: 1.2;
      margin-bottom: 16px;
    }

    footer div.footer commerce_builder-social-links {
      margin-top: -33px;
      margin-bottom: 32px;
    }

    footer div.footer commerce_builder-social-links svg.social-icon{
      height: 16px;
      width: 16px;
    }

    commerce_builder-layout-footer.commerce-footer {
      padding-top: 48px;
      padding-bottom: 24px;
      border-top: solid 4px #009D4F;
      background-color: #FFFFFF;
    }
